export(get_city_coord)
export(get_geo_position)
export(get_theme)
export(remap)
export(remapC)
export(remapB)
export(markLineControl)
export(markPointControl)
export(mapNames)
export(plot.remap)
export(remap.init)
export(knitrREmap)
importFrom(XML,"htmlParse")
importFrom(XML,"xmlRoot")
importFrom(XML,"xpathSApply")
importFrom(XML,"xmlValue")
importFrom(rjson,"fromJSON")
importFrom(htmltools,"tagList")
importFrom(htmltools,"tag")